<MudDataGrid @ref="_dataGrid"
             MultiSelection="false"
             Items="Regions"
             Filterable="false"
             Groupable="true"
             GroupExpanded="false"
             SortMode="SortMode.Single"
             Dense="true"
             QuickFilter="QuickFilter">
    <ToolBarContent>
        <MudText Typo="Typo.h5" Color="Color.Primary">Regions</MudText>
        <MudSpacer/>
        <MudTextField @bind-Value="_searchString"
                      Placeholder="Search"
                      Adornment="Adornment.Start"
                      Immediate="true"
                      AdornmentIcon="@Icons.Material.Outlined.Search"
                      IconSize="Size.Medium"
                      Class="mt-0">
        </MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.CountryName" Title="Country" Grouping>
            <GroupTemplate>
                <span style="font-weight: bold">@context.Grouping.Key</span>
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Name" Title="Region" Sortable="false" Groupable="false"/>
    </Columns>
</MudDataGrid>