@page "/"
@inject MediatR.IMediator _mediator

<h1>Hello, world!</h1>
<ul>
    @foreach(var g in grapes)
    {
        <li>@g.Name</li>
    }
</ul>

<p>grape with id 1: @grape.Name</p>

@code {
    List<Grape> grapes = new();
    Grape grape = new();

    protected override async Task OnInitializedAsync()
    {
        grapes = await _mediator.Send(new GetGrapesQuery());
        grape = await _mediator.Send(new GetGrapeByIdQuery(1));
    }
}
