@page "/Cellar"
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Kave - Cellar</PageTitle>

<MudContainer Fixed="true">
    <div class="d-flex flex-row justify-space-between">
        <MudText Typo="Typo.h4" Class="mt-5 mb-4">Cellar</MudText>

        <div>
            <MudFileUpload T="IBrowserFile" FilesChanged="UploadFile" Accept=".csv" MaximumFileCount="1">
                <ButtonTemplate>
                    <MudButton HtmlTag="label"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Outlined.UploadFile"
                               for="@context.Id"
                               Class="mt-4">
                        Import cellar tracker csv
                    </MudButton>
                </ButtonTemplate>
            </MudFileUpload>
        </div>
    </div>
</MudContainer>

<MudDivider/>

<MudContainer Fixed="true" Class="pt-4">
    <UserWinesTable UserWines="_userWines"
                    OnOpenWine="OpenWine"
                    Loading="_loading"/>
</MudContainer>