@page "/Cellar"

<PageTitle>Kave - Cellar</PageTitle>

<MudText Typo="Typo.h3" Color="Color.Primary">Cellar</MudText>

<div class="pt-6">
    <UserWinesDataGrid UserWines="@_userWines" OnOpenWine="OpenWine" OnDeleteUserWine="DeleteUserWine"/>
</div>