@page "/Wines/{id:int}"
@using WineCellar.Blazor.Features.Wine.Components

<PageTitle>Kave - Wine</PageTitle>

<div class="d-flex flex-row justify-space-between">
    <MudText Typo="Typo.h3" Color="Color.Primary">@_wine?.Name</MudText>
    @if (!_isWineInUserWines)
    {
        <MudFab Title="Add wine to cellar"
                StartIcon="@Icons.Material.Filled.Add"
                Color="Color.Primary"
                @onclick="AddWineToCellar"
                Size="Size.Large"/>
    }

</div>
<MudText Typo="Typo.h5" Color="Color.Primary">@_wine?.WineryName</MudText>
<MudDivider/>
<MudGrid Class="pt-8">
    @if (_wine?.Grapes.Count > 0)
    {
        <MudItem xs="12" md="6">
            <GrapesList Grapes="_wine.Grapes"/>
        </MudItem>
    }

    @if (_isWineInUserWines)
    {
        <MudItem xs="12" md="6">
            <MudPaper Elevation="4">
                <MudText Typo="Typo.h5">Cellar</MudText>
                <MudText>@_userWine.Amount bottle(s) in cellar.</MudText>
                <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                    <MudIconButton Icon="@Icons.Material.Filled.Remove" @onclick="RemoveBottle"/>
                    <MudIconButton Icon="@Icons.Material.Filled.Add" @onclick="AddBottle"/>
                </MudButtonGroup>
            </MudPaper>
        </MudItem>
    }
</MudGrid>