@page "/Wines/{id:int}"
@using WineCellar.Blazor.Features.Wine.Components

<PageTitle>Kave - Wine</PageTitle>

<MudContainer Fixed="true">
    <div class="d-flex flex-row justify-space-between">
        <MudText Typo="Typo.h4" Class="mt-5 mb-4">@_wine?.WineryName - @_wine?.Name</MudText>
        <MudFab Title="Add bottle to cellar"
                StartIcon="@Icons.Material.Filled.Add"
                Color="Color.Primary"
                @onclick="AddBottleToCellar"
                Size="Size.Medium"
                Class="mt-4"/>
    </div>
</MudContainer>

<MudTabs Elevation="1" Rounded="false" ApplyEffectsToContainer="false">
    <MudTabPanel Text="Details">
        <div class="mt-3">
            <MudContainer Fixed="true">
                <WineInfo Wine="_wine" OnNavigateToWinery="NavigateToWinery"/>
            </MudContainer>
            <MudDivider/>
        </div>

        <MudContainer Fixed="true">
            <MudGrid Class="mt-4">
                @if (_wine?.Grapes.Count > 0)
                {
                    <MudItem xs="12" md="6">
                        <GrapesList Grapes="_wine.Grapes"/>
                    </MudItem>
                }
            </MudGrid>
        </MudContainer>

    </MudTabPanel>
    <MudContainer Fixed="true">
        @if (_wine?.Grapes.Count > 0)
        {
            <MudTabPanel Text="Cellar" BadgeData="_bottlesInCellar.Count">
                <MudGrid Class="mt-4">
                    <MudItem sm="12" md="6">
                        <BottlesTable
                            Status="BottleStatus.InCellar"
                            Bottles="_bottlesInCellar"
                            OnEditBottle="OnEditBottle"
                            OnDeleteBottle="OnDeleteBottle"
                            OnConsumeBottle="OnConsumeBottle"/>
                    </MudItem>
                    <MudItem sm="12" md="6">
                        <BottlesTable
                            Status="BottleStatus.Consumed"
                            Bottles="_bottlesConsumed"
                            OnEditBottle="OnEditBottle"
                            OnDeleteBottle="OnDeleteBottle"
                            OnConsumeBottle="OnConsumeBottle"/>
                    </MudItem>
                </MudGrid>
            </MudTabPanel>
        }
    </MudContainer>
</MudTabs>