<MudPaper Elevation="2" Class="pa-3">
    <MudText Typo="Typo.h5" Class="mb-2" Color="Color.Primary">Bottles</MudText>
    @foreach (var bottle in Bottles)
    {
        <p>@bottle.Vintage</p>
        <p>@bottle.BottleSize</p>
        <p>@bottle.AddedOn</p>
    }
</MudPaper>
