@using WineCellar.Blazor.Shared.Components.Chips

@if (Wine is not null)
{
    <MudLink OnClick="NavigateToWinery" Underline="Underline.None" Color="Color.Default">
        <MudText Typo="Typo.h5">@Wine?.WineryName</MudText>
    </MudLink>
    <MudText Class="mt-2">@Wine.RegionName - @Wine.Winery.CountryName</MudText>
    <div class="mb-2">
        <WineTypeChip WineType="@Wine.WineType"/>
    </div>
}